body.page-special, body.node-type-actions {
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/bac_news.jpg");
}

.special {
  margin: 0px auto;
  padding-top: 110px;
  max-width: 1275px;
  position: relative;
  overflow: hidden;
}
.special_item {
  float: left;
  width: 595px;
  height: 132px;
  margin: 0px 20px 20px 0px;
  overflow: hidden;
  background-color: #ffffff;
}
.special_logo {
  left: 0;
  position: absolute;
  top: 70px;
}
.special_image {
  width: 200px;
  height: 88px;
  float: left;
  margin: 20px 0px 0px 20px;
}
.special_text {
  float: left;
  margin: 20px 0px 0px 20px;
}
.special_title {
  font-size: 18px;
  height: 40px;
}
.special_descr {
  height: 34px;
}
.special_link {
  color: #264a73;
  text-decoration: none;
}
.special_link:visited {
  color: #264a73;
}
.special_link:hover {
  color: #8ed3f9;
}
.special_link:active {
  color: #264a73;
}
.special_link:focus {
  color: #264a73;
}

.timeless {
  margin: 0px auto;
  max-width: 1275px;
  overflow: hidden;
}
.timeless_head {
  background-color: #394856;
  margin-right: 64px;
  font-family: "bicubikregular";
  text-size: 11px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  padding: 11px 0 11px 0;
  margin-bottom: 26px;
  opacity: 0.6;
}
.timeless_wrap {
  background-color: #ffffff;
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
.timeless_item {
  position: relative;
  float: left;
  width: 595px;
  height: 132px;
  margin: 0px 20px 20px 0px;
  overflow: hidden;
  background-color: #ffffff;
}
.timeless_image {
  width: 200px;
  height: 88px;
  float: left;
  margin: 20px 0px 0px 20px;
}
.timeless_text {
  float: left;
  margin: 20px 0px 0px 20px;
}
.timeless_title {
  font-size: 18px;
  height: 40px;
}
.timeless_descr {
  height: 34px;
}
.timeless_link {
  color: #264a73;
  text-decoration: none;
}
.timeless_link:visited {
  color: #264a73;
}
.timeless_link:hover {
  color: #8ed3f9;
}
.timeless_link:active {
  color: #264a73;
}
.timeless_link:focus {
  color: #264a73;
}

.action {
  padding: 50px 30px 30px 30px;
  background-color: #ffffff;
  margin: 0px 64px 25px 0px;
}
.action_top {
  overflow: hidden;
}
.action_bottom {
  padding-top: 25px;
}
.action_bottom p {
  font-size: 14px;
}
.action_left {
  float: left;
}
.action_image {
  width: 292px;
  height: 128px;
}
.action_right {
  float: left;
  margin-left: 15px;
}
.action_title {
  height: 57px;
  font-size: 16px;
  font-family: "bicubikregular";
  font-weight: bold;
}
.action_title h1 {
  font-size: 13px;
  font-family: "bicubikregular";
  font-weight: bold;
}
.action_descr {
  color: #054b71;
  font-size: 12px;
  font-family: "bicubikregular";
  font-weight: bold;
  height: 25px;
}
.action_date {
  font-size: 14px;
}

.fronttext {
  overflow: hidden;
}
.fronttext_text {
  width: 580px;
  float: left;
  padding: 0px 50px 20px 0px;
}
.fronttext_text h1 {
  color: #ffffff;
  font-size: 17px;
  font-family: 'bicubikregular';
  width: 450px;
  border-bottom: 1px solid #ffffff;
  padding: 0px 0px 5px 0px;
  margin-bottom: 10px;
}
.fronttext_text p {
  color: #ffffff;
  font-size: 12px;
  font-family: 'bicubikregular';
  line-height: 1.7;
}

.newcatalog {
  position: relative;
  overflow: hidden;
  margin: 0px auto;
  max-width: 1000px;
  padding: 55px 0px 0px 0px;
  background-color: #ffffff;
  font-family: "bicubikregular";
  font-size: 10px;
  line-height: 1.4;
}
.newcatalog_logo {
  margin: 0px 0px 25px 0px;
}
.newcatalog_title {
  text-align: center;
  width: 180px;
  margin: 0 auto 32px auto;
  font-size: 17px;
  font-family: 'bicubikregular';
  font-weight: normal;
  border-bottom: 1px solid #000000;
  padding: 0px 0px 5px 0px;
}
.newcatalog_list {
  overflow: hidden;
  padding: 0px 0px 0px 35px;
}
.newcatalog_item {
  width: 302px;
  height: 400px;
  float: left;
  margin: 0px 13px 13px 0px;
}
.newcatalog_wrap {
  height: 315px;
  position: relative;
}
.newcatalog_image {
  width: 302px;
  height: 225px;
}
.newcatalog_text {
  padding: 0px 40px 0px 40px;
}
.newcatalog_link1 {
  float: left;
  width: 50%;
  height: 27px;
  background-color: #88a2af;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  padding: 8px 0px 0px 0px;
}
.newcatalog_link1:visited {
  color: #ffffff;
}
.newcatalog_link1:hover {
  color: #ffffff;
}
.newcatalog_link1:active {
  color: #ffffff;
}
.newcatalog_link1:focus {
  color: #ffffff;
}
.newcatalog_link2 {
  float: left;
  width: 50%;
  height: 27px;
  background-color: #5d666f;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  padding: 8px 0px 0px 0px;
}
.newcatalog_link2:visited {
  color: #ffffff;
}
.newcatalog_link2:hover {
  color: #ffffff;
}
.newcatalog_link2:active {
  color: #ffffff;
}
.newcatalog_link2:focus {
  color: #ffffff;
}
.newcatalog_price {
  height: 25px;
  padding: 25px 0px 0px 0px;
  text-align: center;
  font-size: 13px;
}
.newcatalog_click {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  /*overflow: hidden;
  white-space: nowrap;
  text-indent: -9999px;*/
  text-decoration: none;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("../images/lupa.png") no-repeat #000000 50% 30%;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
  -ms-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}
.newcatalog_click:hover {
  -webkit-opacity: 0.3;
  -moz-opacity: 0.3;
  opacity: 0.3;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
}
.newcatalog_click span {
  position: absolute;
  top: 190px;
  left: 75px;
  font-size: 20px;
}

.pager {
  position: relative;
  padding-top: 30px;
}
.pager li {
  font-family: 'bicubikregular';
  font-size: 13px;
  font-weight: bold;
  color: #4a4a4a;
}
.pager a {
  color: #a4a4a4;
  text-decoration: none;
}
.pager a:visited {
  color: #a4a4a4;
}
.pager a:hover {
  color: #4a4a4a;
}
.pager a:active {
  color: #a4a4a4;
}
.pager a:focus {
  color: #a4a4a4;
}
.pager .pager-previous a, .pager .pager-next a {
  font-weight: normal;
  font-size: 22px;
}
.pager .pager-previous {
  position: absolute;
  top: 23px;
  left: 41%;
}
.pager .pager-next {
  position: absolute;
  top: 23px;
  right: 41%;
}
.pager .pager-item, .pager .pager-first, .pager .pager-previous, .pager .pager-next, .pager .pager-last, .pager .pager-ellipsis, .pager .pager-current {
  padding-left: 10px;
  padding-right: 10px;
}

/*# sourceMappingURL=all.css.map */
