.newcatalog{
	position: relative;
	overflow: hidden;
	margin: 0px auto;
  max-width: 1000px;
  padding: 55px 0px 0px 0px;
  background-color: #ffffff;
  font-family: "bicubikregular";
  font-size: 10px;
  line-height: 1.4;
  .views-exposed-form{
    position: relative;
    padding: 0px 0px 15px 0px;
    .ajax-progress-throbber{
      position: absolute;
      top: 17px;
      left: -20px;
    }
    .form-submit{
      margin-top: 12px;
    }
  }
  &_descr{
    padding: 0px 32px 28px 32px;
    p{
      line-height: 1.5;
    }
  }
  &_logo{
		margin: 0px 0px 25px 0px;
  }
	&_title{
		text-align: center;
		width: 180px;
		margin: 0 auto 29px auto;
		font-size: 17px;
    font-family: 'bicubikregular';
    font-weight: normal;
    border-bottom: 1px solid #000000;
    padding: 0px 0px 5px 0px;
	}
	&_list{
		overflow: hidden;
		padding: 0px 0px 0px 35px;
	}
	&_item{
		width: 302px;
		height: 400px;
		float: left;
		margin: 0px 13px 13px 0px;
		//background-color: #bbb;
    position: relative;
	}
	&_wrap{
		height: 315px;
		position: relative;
		//background-color: #ccc;
	}
	&_image{
		width: 302px;
		height: 225px;
	}
	&_text{
		padding: 0px 40px 0px 40px;
	}
	&_link1{
		float: left;
		width: 50%;
		height: 27px;
		background-color: #88a2af;
		text-decoration: none;
		text-align: center;
		@include link(#ffffff, #ffffff);
		font-size: 13px;
		padding: 8px 0px 0px 0px;
	}
	&_link2{
		float: left;
		width: 50%;
		height: 27px;
		background-color: #5d666f;
		text-decoration: none;
		text-align: center;
		@include link(#ffffff, #ffffff);
		font-size: 13px;
		padding: 8px 0px 0px 0px;
	}
	&_price{
		height: 25px;
		padding: 25px 0px 0px 0px;
		text-align: center;
		font-size: 13px;
	}
	&_click{
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		/*overflow: hidden;
		white-space: nowrap;
		text-indent: -9999px;*/
		text-decoration: none;
		text-align: center;
		
		
		position: absolute;
		height: 100%;
		width: 100%;
		background: url('../images/lupa.png') no-repeat #000000 50% 30%;
		@include def-opacity(0);
		@include def-transition(opacity, 0.1s);
		&:hover{
			@include def-opacity(0.3);
		}
		span{
			//margin: 160px 0px 0px 0px;
			position: absolute;
			top: 190px;
			left: 75px;
			font-size: 20px;
		}
	}
	&_mypopup{
		position: absolute;
		z-index: 10;
		top: 0px;
		right: 0px;
		.popup-element{
			display: block;
		}
		.class-action {
		  background: url('../images/action.png') no-repeat scroll right top;
		  cursor: pointer;
		  display: block;
		  padding: 0px;
		  margin: 0px 0px 3px 0px;
		  position: relative;
		  width: 42px;
		  height: 42px;
		  overflow: hidden;
		  text-indent: 100%;
		  white-space: nowrap;
		  @include def-opacity(0.8);
		  @include def-transition(opacity, 0.2s);
		  &:hover{
		  	@include def-opacity(1);
		  }
		}
		.class-review {
		  background: url('../images/review.png') no-repeat scroll right top;
		  cursor: pointer;
		  display: block;
		  padding: 0px;
		  margin: 0px 0px 3px 0px;
		  position: relative;
		  width: 42px;
		  height: 42px;
		  overflow: hidden;
		  text-indent: 100%;
		  white-space: nowrap;
		  @include def-opacity(0.8);
		  @include def-transition(opacity, 0.2s);
		  &:hover{
		  	@include def-opacity(1);
		  }
		}
	}
	&_summer{
		background: url('../images/summer.png') no-repeat scroll right top;
	  display: block;
	  padding: 0px;
	  margin: 0px 0px 3px 0px;
	  position: relative;
	  width: 42px;
	  height: 42px;
	  @include def-opacity(0.8);
	}
	&_winter{
		background: url('../images/winter.png') no-repeat scroll right top;
	  display: block;
	  padding: 0px;
	  margin: 0px 0px 3px 0px;
	  position: relative;
	  width: 42px;
	  height: 42px;
	  @include def-opacity(0.8);
	}
}

.popup-style-white .popup-element-body.origin-bottom-left.expand-top-right table.popup-layout{
	//left: 22px;
  //top: 46px;
}
.popup-style-white .popup-element-body.origin-bottom-right.expand-bottom-right table.popup-layout {
  left: -20px;
  top: -62px;
}
.popup-style-white .popup-element-body div.inner a{
	@include link(#88a2af, #88a2af);
}
.popup-style-white .popup-element-body div.inner{

}
#popup-active-overlay{
	//background: none;
	//background-color: #ffffff;
	.inner{
		height: 370px;
	}
}
.popup-style-white .popup-element-body .top .left {
    background: url('../images/top-left.png') no-repeat scroll 0 0;
    height: 55px;
    padding-left: 55px;
    width: 55px;
}
.popup-style-white .popup-element-body.origin-bottom-left.expand-bottom-right .top .left {
    background: url('../images/top-left.png') no-repeat scroll 0 0;
}
.popup-style-white .popup-element-body.origin-bottom-right.expand-bottom-right .top .left {
    background: url('../images/top-left.png') no-repeat scroll 0 0;
}
.popup-style-white .popup-element-body .top .right {
    background: url('../images/top-right.png') no-repeat scroll 0 0;
    height: 55px;
    padding-right: 55px;
    width: 55px;
}
.popup-style-white .popup-element-body .top .center {
    background: url('../images/top.png') repeat-x scroll center top;
    height: 55px;
}
.popup-style-white .popup-element-body .center .left {
    background: url('../images/left.png') repeat-y scroll left center;
    width: 55px;
}
.popup-style-white .popup-element-body .center .right {
    background: url('../images/right.png') repeat-y scroll right center;
    width: 55px;
}
.popup-style-white .popup-element-body .bottom .left {
    background: url('../images/bottom-left.png') no-repeat scroll 0 0;
    height: 55px;
    width: 55px;
}
.popup-style-white .popup-element-body .bottom .right {
    background: url('../images/bottom-right.png') no-repeat scroll 0 0;
    height: 55px;
    width: 55px;
}
.popup-style-white .popup-element-body .bottom .center {
    background: url('../images/bottom.png') repeat-x scroll center bottom;
}
.popup-style-white .popup-element-body .center .center {
    background-color: #ffffff;
}


.popup-style-white .popup-element-body a.popup-close-button {
  background: url('../images/close.png') no-repeat scroll left top;
  display: block;
  height: 7px;
  position: absolute;
  right: -13px;
  top: -9px;
  width: 10px;
}
#popup-active-overlay{
  z-index: 5;
}