.newbrands{
  overflow: hidden;
  padding: 0px 0px 28px 32px;
  &_wrap{
    position: relative;
    width: 150px;
    height: 40px;
    float: left;
    margin: 0px 8px 0px 0px;
  }
  
  &_image2{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
  }
  &_image1{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    @include def-transition(opacity, 0.2s);
    .newbrands_wrap:hover & {
      @include def-opacity(0);
    }
  }
}