.pager{
	position:relative;
	padding-top: 30px;
	li{
		.newcatalog & {
			font-family:'bicubikregular';
			font-size:13px;
			font-weight:bold;
			color:#4a4a4a;
			position: relative;
		}
	}
	a{
		.newcatalog & {
			@include link(#a4a4a4, #4a4a4a);
			text-decoration:none;
		}
	}
	.pager-previous a, .pager-next a{
		font-weight:normal;
		font-size:22px;
	}
	.pager-previous{
		/*position:absolute;
		top:23px;
		left:41%;*/
		position: relative;
		top: 2px;
		.content_inner_news & {
			position:absolute;
			top:25px;
			left:44%;
		}
	}
	.pager-next{
		/*position:absolute;
		top:23px;
		right:41%;*/
		position: relative;
		top: 2px;
		.content_inner_news & {
			position:absolute;
			top:25px;
			right:44%;
		}
	}
	.pager-item, .pager-first, .pager-previous, .pager-next, .pager-last, .pager-ellipsis, .pager-current {
		padding-left:10px;
		padding-right:10px;
	}
	.pager-current{
		
	}
	.ajax-progress-throbber{
    position: absolute;
    top: -16px;
    left: 7px;
  }
}	