.pager{
	position:relative;
	padding-top: 30px;
	li{
		font-family:'bicubikregular';
		font-size:13px;
		font-weight:bold;
		color:#4a4a4a;
	}
	a{
		@include link(#a4a4a4, #4a4a4a);
		text-decoration:none;
	}
	.pager-previous a, .pager-next a{
		font-weight:normal;
		font-size:22px;
	}
	.pager-previous{
		position:absolute;
		top:23px;
		left:41%;
	}
	.pager-next{
		position:absolute;
		top:23px;
		right:41%;
	}
	.pager-item, .pager-first, .pager-previous, .pager-next, .pager-last, .pager-ellipsis, .pager-current {
		padding-left:10px;
		padding-right:10px;
	}
	.pager-current{
		
	}
}	